$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


/*****************************
VARIABLES
******************************/

$primarycolor: #1abc9c;
$primaryopacity: rgba(52, 152, 219,0.6);
$secondarycolor: #16a085;
$flat1: #2ecc71;
$flat2: #3498db;
$flat3: #9b59b6;
$flat4: #f1c40f;
$flat5: #e67e22;
$flat6: #e74c3c;
$fontdark: #777;
$fontbright: #eee;

/*****************************
GENERAL
******************************/
html {

}

body {
  background-image: url(../images/noisy_grid.png);
  background-repeat: repeat;
}

h1 {
  font-size: 58px;
}

p {
  font-size: 18px;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

header {
  z-index: 5;
  position: absolute;
  padding: 15px;
  width: 100%;
  background-color: transparent;
  position: fixed;
}

.logo {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: red;
}

section {
  text-align: center;
  min-height: 200px;
}

.section-row {
  margin-top: 50px;
}


footer {
  background-image: url(../images/noisy_diagonal.png);
  background-repeat: repeat;
  padding: 15px;
  color: #777;
  border-top: 1px solid $fontdark;
}

.linebreak {
  position: relative;
  background-color: $fontdark;
  margin: 30px auto;
  width: 80px;
  height: 1px;
}


/*****************************
NAVBAR
******************************/

.fixed {
    position: fixed;
}

/* sidebar */
.bs-docs-sidebar {
  position: absolute;
  height: 200px;
  width: 175px;
  z-index: 100;
  float: right;
  top: 50%;
  margin-top: -83px;
  right: 0;
  margin-right: -55px;
}

/* all links */
.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-right: 2px solid transparent;
    padding: 4px 20px;
    font-size: 13px;
    font-weight: 400;
}

/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px;
}

/* active & hover links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
    color: $primarycolor;
    text-decoration: none;
    background-color: transparent;
    border-right-color: $primarycolor;
}
/* all active links */
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}


/*****************************
JUMBO
******************************/

.jumbotron {
  background-image: url(../images/skyline.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  height: 100vh;
  padding: 0;
  margin-bottom: 0;

  h1 {
    margin-top: 0;
    padding-top: 110px;
    color: $primarycolor;
  }

  h3 {
    color: $fontdark;
  }

  .btn {
    position: absolute;
    left: 50%;
    margin-left: -91px;
    margin-top: 5%;
    background-color: transparent;
    color: $primarycolor;
    border: 2px solid $primarycolor;
    font-size: 22px;
    font-weight: 700;
  }
  .btn-primary:hover {
    background-color: $secondarycolor;
    color: $fontbright;
  }

  .downarrow {
    color: $fontbright;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -28px;
  }
}

/*****************************
ONE
******************************/
.portrait1 {
    background-image: url(../images/jc.jpg);
    background-size: cover;
    margin: 50px auto 30px;
    height: 300px;
    width: 300px;
    border-radius: 100%;
}

#circle1 {
  position: relative;
  margin: 100px auto;
  width: 50px;
  height: 50px;
  background: $flat1;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;

  h2 {
    padding-top: 8px;
    margin-left: 4px;
  }
}

.circlesmall {
  position: relative;
  margin: 20px auto 10px;
  width: 18px;
  height: 18px;
  background: $flat1;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

#biography {
  margin: 0 auto;
  max-width: 50%;
}

/*****************************
TWO
******************************/

#triangle2 {
  position: relative;
  margin: 100px auto;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 50px solid $flat2;

  h2 {
    margin-left: -9px;
    padding-top: 13px;
  }
}

.trianglesmall {
  position: relative;
  margin: 20px auto 10px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 18px solid $flat2;
}

#trianglewrapper {
  margin: 0 auto;
  position: relative;
  width: 100%;
  left: 50%;
  margin-left: -100px;
}

#triangle {
  position: relative;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 160px solid $flat2;
}


.three-col-wrapper {
  margin: 0 15px;
  margin-bottom: 30px;
  padding: 0;

  h4 {
    padding: 10px 0;
    font-size: 26px;
  }
}

.triangle-col-icon {
  padding-top: 70px;
  margin-left: -30px;
}

/*****************************
THREE
******************************/

#diamond3 {
  position: relative;
  margin: 100px auto;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 40px;
  height: 40px;
  border: none;
  background: $flat3;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-transform-origin: 0 100% 0deg;
  transform-origin: 0 100% 0deg;

  h2 {
  margin-left: 4px;
  padding-top: 4px;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  }
}

.diamondsmall {
  position: relative;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-top: -10px;
  width: 40px;
  height: 40px;
  border: none;
  background: $flat3;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-transform-origin: 0 100% 0deg;
  transform-origin: 0 100% 0deg;
  float: left;


  i {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    margin-left: 5px;
    padding-top: 8px;
  }

  h2 {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    margin-top: 0;
    margin-left: 5px;
    padding-top: 2px;
  }

  img {
    height: 35px;
    width: 35px;
    margin-top: 3px;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
}

.progress {
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 60px;
}

/*****************************
FOUR
******************************/

#rectangle4 {
  position: relative;
  margin: 100px auto;
  width: 60px;
  height: 33px;
  background-color: $flat4;
}

.work-container {
  height: 300px;
  width: 100%;
  background-color: $flat4;
  margin: 50px auto 0;

  figure {
    background-image: url(../images/b_b.png);
    background-size: cover;
    background-position: top;
    border: 8px solid $flat4;
    height: 100%;
    width: 100%;
  }
}

#work1 {
  display: none;
  color: $fontbright;
  font-size: 40px;
  background-color: rgba(243, 156, 18, 0.9);
  height: 100%;
}

figure:hover #work1 {
  display: block;
}

/*****************************
FIVE
******************************/

#pentagon5 {
    position: relative;
    margin: 100px auto;
    width: 55px;
    border-width: 30px 12px 0;
    border-style: solid;
    border-color: $flat5 transparent;

    h2 {
      position: absolute;
      margin-top: -38px;
      margin-left: 8px;
  }
}
#pentagon5:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -50px;
    left: -11px;
    border-width: 0 27px 20px;
    border-style: solid;
    border-color: transparent transparent $flat5;
}

.blog-container {
  background-image: url(../images/hello.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
  height: 400px;
  background-color: $flat5;
}

#pentagonsmall {
    position: relative;
    margin: 35px auto;
    width: 26px;
    border-width: 14px 6px 0;
    border-style: solid;
    border-color: $flat5 transparent;
}

#pentagonsmall:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -24px;
    left: -6px;
    border-width: 0 13px 10px;
    border-style: solid;
    border-color: transparent transparent $flat5;
}

/*****************************
SIX
******************************/

#hexagon6 {
  margin: 100px auto;
  width: 40px;
  height: 25px;
  background: $flat6;
  position: relative;

  h2 {
    position: relative;
    margin-left: 2px;
    top: -4px;
  }
}
#hexagon6:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 10px solid $flat6;
}
#hexagon6:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 10px solid $flat6;
}

#hexagon {
  margin: 50px auto;
  width: 60px;
  height: 38px;
  background: $flat6;
  position: relative;
}
#hexagon:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 15px solid $flat6;
}
#hexagon:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid $flat6;
}

.hexagon-col-icon {
  position: absolute;
  margin-left: 12px;
  top: -2px;
}

.contact-col-wrapper {
  min-height: 150px;
  margin: 0 15px;
  margin-bottom: 30px;
  padding: 0;
}

.contact-col-wrapper:hover .hexagon-col-icon {
  color: $fontbright;
}

#hexagon-social {
  margin: 0 auto 30px;
  width: 40px;
  height: 25px;
  background: $flat6;
  position: relative;
}

#hexagon-social:hover {
  color: $fontbright;
}

#hexagon-social:before {
  @extend #hexagon6:before;
}

 #hexagon-social:after {
  @extend #hexagon6:after;
}

#hexagon-social > i {
  position: relative;
  top: -1px;
}

.social-row {
  margin-top: 30px;
}