$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


/*****************************
VARIABLES
******************************/

$primarycolor: #00f59c;
$fontcolor: #eee;

/*****************************
GENERAL
******************************/

body {
  background: $primarycolor;
  font-family: 'Droid Sans', sans-serif;
  padding-bottom: 20px;
}

.navbar {
  z-index: 1;
  border: none;
  background-color: transparent;
  margin-bottom: 0;

  .navbar-brand {
    color: $fontcolor;
  }

  ul {
    float: right;
  }
}

#bs-example-navbar-collapse-1 > ul > li > a {
  color: $fontcolor;
}
#bs-example-navbar-collapse-1 > ul > li > a:hover {
  color: red;
}

footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/*****************************
CONTENT
******************************/

.jumbotron {
  background-image: url(../images/desktop.jpg);
  background-size: cover;
  position: relative;
  height: 100vh;
  text-align: center;
  margin-bottom: 0;
  h1 {
    margin-top: 80px;
    color: #eee;
  }

  p {
    color: #eee;
  }

  .btn {
    margin-top: 10%;
    background-color: transparent;
    color: $primarycolor;
    border: 1px solid $primarycolor;
  }
  .btn-primary:hover {
    background-color: $primarycolor;
    color: $fontcolor;
  }
}

main {
  text-align: center;
  min-height: 200px;
}

.main-row {
  margin: 30px 0 20px 0;
}

.icon {
  text-align: center;
}