@import "main";

.banner2 {
    height: 600px;
    background-color: #e5e5e5;
}

.thumbnails .col-md-3 {
    margin-left: 60px;
    margin-top: 60px;
    height: 200px;
    background-color: #777;
}

.banner3 {
    min-height: 600px;
    background-color: #e5e5e5;
}

.thumbnails .col-md-5 {
    margin: 30px;
    height: 500px;
    background-color: #777;
}