@import "main";

/**********************
placeholder grid colors
**********************/
.col-md-4 {
    border: 1px solid black;
    height: 300px;
    background-color: #777;
}

.col-md-4:nth-child(2) {
    background-color: #9f9f9f;
}
/**********************
placeholder grid colors
**********************/

article {
    border: 1px solid black;
    height: 600px;
    background-color: #777;
}

figure {
    height: 300px;
    border: 1px solid black;

}

section {
    min-height: 200px;
}