/*****************************
VARIABLES
******************************/

$primarycolor: #F44336;
$primaryopacity: rgba(52, 152, 219,0.6);
$secondarycolor: #16a085;
$flat1: #E91E63;
$flat2: #9C27B0;
$flat3: #3F51B5;
$flat4: #00BCD4;
$flat5: #009688;
$flat6: #F44336;
$fontdark: rgba(0,0,0,.87);
$fontbright: #eee;