/*****************************
VARIABLES
******************************/

$primarycolor: #1abc9c;
$primaryopacity: rgba(52, 152, 219,0.6);
$secondarycolor: #16a085;
$flat1: #2ecc71;
$flat2: #3498db;
$flat3: #9b59b6;
$flat4: #f1c40f;
$flat5: #e67e22;
$flat6: #e74c3c;
$fontdark: rgba(0,0,0,.87);
$fontbright: #eee;